*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  body{
     font-family: Arial;
     background: #fff5f7;
     color: #333;
  }

  header{
    background: #d98b9c;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  header h1 nav a{
    color: white;
  }

  nav a{
    text-decoration: none;
    margin: 10px;
  }

  .main{
    text-align: center;
    padding: 80px 20px;
    background: #f8dce2;
  }

 .main h2{
    color: #a94f68;
    font-size: 35px;
  }

  .main p{
    margin: 15px;
  }

  button{
    background: #a94f68;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 20px;
  }

  section{
    padding: 50px 10%;
    text-align: center;
  }

  .products{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
  }

  .item{
    background: white;
    width: 280px;
    padding: 15px;
    border-radius: 15px;
  }

  .item img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
  }

  .item h3{
    color: #a94f68;
    margin: 12px;
  }

  footer{
    background: #d98b9c;
    color: white;
    text-align: center;
    padding: 15px;
  }

  nav a:hover{
    color: #ffd6df;
  }
    